body{
    background-image: url(/src/assets/fondoPagina.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.producto{
    width: 25%;
    height: 25%;
    border: 1px solid black;
    background-color: wheat;
    text-align: center;
}